<!DOCTYPE html>
<html class="no-js" lang="fr" xml:lang="fer">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

     
     <link rel="stylesheet" href="css/programmation.css" type="text/css">
     <link rel="stylesheet" href="css/bulma.min.css">
    
  
  
    
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
          


     <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
     <title>{% block title %} [ERREUR 502]{% endblock %}</title>
    <meta name="description" content="Erreur 502 est un site web permettant à chacun de tester et d'améliorer ses connaissances dans le domaine de l'informatique."
    <meta name="keywords" content="hackcess,roanne,rt,iut rt roanne,reseau,info,formation info, hacking, challenge, solution, exercice, hacking challenge, hack challenge, exercice hack, exercice hacking, capture the flag, CTF, security, sécurité, Documentation,Applicatif,Cryptologie,Challenges,Réseaux,Cracking,Web - Client,Programmation,Cryptanalyse,Communauté,Chat Box,Application,Présentation,Session,Transport ,Réseau,Liaison,Physique,Stéganographie,Web - Serveur,Cracking,Réaliste,Informations,L'association,Faiblesses Découvertes,Forum,Le projet,Challenges, Hacking et Sécurité Informatique,Général,Contribuer,IRC,Serveur Discord,Réseau,Capture The Flag,App - Script,Calendrier,CTF all the day,Capture The Flag,Sponsors &amp; Partenaires,App - Système,Forensic,Web,Discuter,">
    <meta name="color-scheme" content="light dark">
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-SRYSKX09J7', { 'anonymize_ip': true });
     </script>
     <link rel="icon" type="img/icon.png" href="img/icon.png" sizes="32x32">
</head>
<body>



     <div class="main_box">

    <input type="checkbox" id="check">
    <div class="btn_one">
      <label for="check">
        <i class="fas fa-bars"></i>
      </label>
    </div>
    
  

    <div class="sidebar_menu" style="  background: rgba(90, 90, 90, 0.8);  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.219);">
      <div class="logo">
        <a href="/challenges">ERREUR 502</a>
          </div>
        <div class="btn_two">
          <label for="check">
            <i class="fas fa-times"></i>
          </label>
        </div>
      <div class="menu">
        <ul>
          <li><i class="fas fa-qrcode"></i>
            <a href="/challenges" >Accueil</a>
          </li>
          <li>
          <i class="fas fa-code"></i>
            <a href="/programmation">Programmation</a>
          </li>
          <li>
            <i class='fas fa-magnifying-glass'></i>
            <a href="/stegano">Stéganographie</a>
          </li>
          <li>
           <i class="fa-sharp fa-solid fa-server"></i>
            <a href="/reseaux">Réseaux</a>
          </li>
          <li>
            <i class="fas fa-question-circle"></i>
            <a href="/challenges">A propos</a>
          </li>
          <li>
            <i class="fas fa-sliders-h"></i>
            <a href="https://hackcess.org/html/services.html" target="_blank">Services</a>
          </li>
          <li>
            <i class="fas fa-phone-volume"></i>
            <a href="/" target="_blank">Contact</a>
          </li>
          <li>
          <i class="far fa-comments"></i>
            <a href="/" target="_blank">Feedback</a>
          </li>
        </ul>
      </div>
      <div class="social_media">
        <ul>
          <a href="https://github.com/cesshack" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://twitter.com/CessHack" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/hack_cess/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCZw-Ikw2HiOY9qLNhRLScZw" target="_blank"><i class="fab fa-youtube"></i></a>
      
        </ul>
        <br>
        <footer>
            &copy; Hackcess 2023
        </footer>
      </div>
<<<<<<< HEAD:templates/ctf/challenges.html.twig
   
=======
      
>>>>>>> 7afd7df8b6d33071f70f54262ee0beca49f8af3c:templates/base/programmation.html.twig
    </div>
    <br>
    <!-- SUITE CODE -->
<<<<<<< HEAD:templates/ctf/challenges.html.twig
   

    
 
=======
   </i><h1 class="h1challenges" style="text-align:center; margin-left: auto;margin-right: auto;top:100%;color:#FFFF;">Challenges Programmations</h1>
    <center><div class="column is-6">
        <table class="table is-narrow is-hoverable is-bordered">
            <thead><tr><td></td><td></td><td></td><td><center>Liste Challenges</center></td>
                 <td>Points</td>
                </tr></thead>
            <tbody>
            
            
            <tr>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                   
                       <img width="22px" src="img/easy.jpg">
                   
                </td>
                <td><a href="/premierprog">
                    Un peu de maths</a></td>
                <td>3</td>
                
            </tr>
            
            <tr>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                   
                       <img width="22px" src="img/easy.jpg">
                   
                </td>
                <td><a href="/troisiemeprog">
                    Sacrée moyenne</a></td>
                <td>3</td>
               
            </tr>

            <tr>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                   
                       <img width="22px" src="img/easy.jpg">
                   
                </td>
                <td><a href="/deuxiemeprog">
                    La Tour Eiffel de papier</a></td>
                <td>4</td>
               
            </tr>
            
            </tbody>
        </table>
    </div>

>>>>>>> 7afd7df8b6d33071f70f54262ee0beca49f8af3c:templates/base/programmation.html.twig
  </div>
	
</body>
</html>
     
