<!DOCTYPE html>
<html class="no-js" lang="fr" xml:lang="fer">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


     <link rel="stylesheet" href="css/challenges.css" type="text/css">
  
    
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>


     <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
     <title>{% block title %} [ERREUR 502]{% endblock %}</title>
    <meta name="description" content="Erreur 502 est un site web permettant à chacun de tester et d'améliorer ses connaissances dans le domaine de l'informatique ."
    <meta name="keywords" content="hackcess,roanne,rt,iut rt roanne,reseau,info,formation info, hacking, challenge, solution, exercice, hacking challenge, hack challenge, exercice hack, exercice hacking, capture the flag, CTF, security, sécurité, Documentation,Applicatif,Cryptologie,Challenges,Réseaux,Cracking,Web - Client,Programmation,Cryptanalyse,Communauté,Chat Box,Application,Présentation,Session,Transport ,Réseau,Liaison,Physique,Stéganographie,Web - Serveur,Cracking,Réaliste,Informations,L'association,Faiblesses Découvertes,Forum,Le projet,Challenges, Hacking et Sécurité Informatique,Général,Contribuer,IRC,Serveur Discord,Réseau,Capture The Flag,App - Script,Calendrier,CTF all the day,Capture The Flag,Sponsors &amp; Partenaires,App - Système,Forensic,Web,Discuter,">
    <meta name="color-scheme" content="light dark">
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-SRYSKX09J7', { 'anonymize_ip': true });
     </script>
     <link rel="icon" type="img/icon.png" href="img/icon.png" sizes="32x32">
</head>
<body>


     <div class="main_box">
    <input type="checkbox" id="check">
    <div class="btn_one">
      <label for="check">
        <i class="fas fa-bars"></i>
      </label>
    </div>
    
  

    <div class="sidebar_menu">
      <div class="logo">
        <a href="#">ERREUR 502</a>
          </div>
        <div class="btn_two">
          <label for="check">
            <i class="fas fa-times"></i>
          </label>
        </div>
      <div class="menu">
        <ul>
          <li><i class="fas fa-qrcode"></i>
            <a href="#">Dashboard</a>
          </li>
          <li>
            <i class="fas fa-link"></i>
            <a href="#">Shortcuts</a>
          </li>
          <li>
            <i class="fas fa-stream"></i>
            <a href="#">Overview</a>
          </li>
          <li>
            <i class="fas fa-calendar-week"></i>
            <a href="#">Events</a>
          </li>
          <li>
            <i class="fas fa-question-circle"></i>
            <a href="#">About</a>
          </li>
          <li>
            <i class="fas fa-sliders-h"></i>
            <a href="#">Services</a>
          </li>
          <li>
            <i class="fas fa-phone-volume"></i>
            <a href="#">Contact</a>
          </li>
          <li>
          <i class="far fa-comments"></i>
            <a href="#">Feedback</a>
          </li>
        </ul>
      </div>
      <div class="social_media">
        <ul>
          <a href="https://github.com/cesshack" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://twitter.com/CessHack" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/hack_cess/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCZw-Ikw2HiOY9qLNhRLScZw" target="_blank"><i class="fab fa-youtube"></i></a>
        </ul>
      </div>
    </div>
  </div>





 


 


	
</body>
</html>
     