<!DOCTYPE html>
<html class="no-js" lang="fr" xml:lang="fer">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

     <link rel="stylesheet" href="css/challenges.css" type="text/css">

     <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
     <title>{% block title %} [ERREUR 502]{% endblock %}</title>
    <meta name="description" content="Erreur 502 est un site web permettant à chacun de tester et d'améliorer ses connaissances dans le domaine de l'informatique ."
    <meta name="keywords" content="hackcess,roanne,rt,iut rt roanne,reseau,info,formation info, hacking, challenge, solution, exercice, hacking challenge, hack challenge, exercice hack, exercice hacking, capture the flag, CTF, security, sécurité, Documentation,Applicatif,Cryptologie,Challenges,Réseaux,Cracking,Web - Client,Programmation,Cryptanalyse,Communauté,Chat Box,Application,Présentation,Session,Transport ,Réseau,Liaison,Physique,Stéganographie,Web - Serveur,Cracking,Réaliste,Informations,L'association,Faiblesses Découvertes,Forum,Le projet,Challenges, Hacking et Sécurité Informatique,Général,Contribuer,IRC,Serveur Discord,Réseau,Capture The Flag,App - Script,Calendrier,CTF all the day,Capture The Flag,Sponsors &amp; Partenaires,App - Système,Forensic,Web,Discuter,">
    <meta name="color-scheme" content="light dark">
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-SRYSKX09J7', { 'anonymize_ip': true });
     </script>
     <link rel="icon" type="img/icon.png" href="img/icon.png" sizes="32x32">
</head>
<body>
<script type="module" src="http://esm.sh/@atomico/keen-slider"></script>

<div mv-app="myApp" mv-autosave="15" class="mv-autoedit is-absoluteA" mv-storage="https://github.com/GalinhaLX/hello2" mv-bar="with clear with switch-data" mv-plugins="clear cropper">
	<div mv-listA="monslide">
		<atomico-keen-slider loop drag selector=".slide" slides-per-view="1, 1 520px" slides-spacing="15">

			<div slot="slide" class="slide">
				<h1 propertyA="item">1</h1>
			</div>
			<div slot="slide" class="slide">
				<h1 property="item">2</h1>
			</div>
            <div slot="slide" class="slide">
				<h1 property="item">2</h1>
			</div>

			<button class="button" slot="to-left">←</button>
			<button class="button" slot="to-right">→</button>
		</atomico-keen-slider>
	</div>
</div>



 


 


	
</body>
</html>
     