<!DOCTYPE html>
<html class="no-js" lang="fr" xml:lang="fer">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

     <link rel="stylesheet" href="css/challenges2.css" type="text/css">
     <link rel="stylesheet" href="css/challenges.css" type="text/css">
    
  
  
    
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
          


     <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
     <title>{% block title %} [ERREUR 502]{% endblock %}</title>
    <meta name="description" content="Erreur 502 est un site web permettant à chacun de tester et d'améliorer ses connaissances dans le domaine de l'informatique."
    <meta name="keywords" content="hackcess,roanne,rt,iut rt roanne,reseau,info,formation info, hacking, challenge, solution, exercice, hacking challenge, hack challenge, exercice hack, exercice hacking, capture the flag, CTF, security, sécurité, Documentation,Applicatif,Cryptologie,Challenges,Réseaux,Cracking,Web - Client,Programmation,Cryptanalyse,Communauté,Chat Box,Application,Présentation,Session,Transport ,Réseau,Liaison,Physique,Stéganographie,Web - Serveur,Cracking,Réaliste,Informations,L'association,Faiblesses Découvertes,Forum,Le projet,Challenges, Hacking et Sécurité Informatique,Général,Contribuer,IRC,Serveur Discord,Réseau,Capture The Flag,App - Script,Calendrier,CTF all the day,Capture The Flag,Sponsors &amp; Partenaires,App - Système,Forensic,Web,Discuter,">
    <meta name="color-scheme" content="light dark">
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-SRYSKX09J7', { 'anonymize_ip': true });
     </script>
     <link rel="icon" type="img/icon.png" href="img/icon.png" sizes="32x32">
</head>
<body>


     <div class="main_box">

    <input type="checkbox" id="check">
    <div class="btn_one">
      <label for="check">
        <i class="fas fa-bars"></i>
      </label>
    </div>
    
  

    <div class="sidebar_menu" style="  background: rgba(255, 22, 255, 0.800);  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.219);">
      <div class="logo">
        <a href="#">ERREUR 502</a>
          </div>
        <div class="btn_two">
          <label for="check">
            <i class="fas fa-times"></i>
          </label>
        </div>
      <div class="menu">
        <ul>
          <li><i class="fas fa-qrcode"></i>
            <a href="/challenges" >Accueil</a>
          </li>
          <li>
          <i class="fas fa-code"></i>
            <a href="/programmation">Programmation</a>
          </li>
          <li>
            <i class='fas fa-magnifying-glass'></i>
            <a href="/stegano">Stéganographie</a>
          </li>
          <li>
           <i class="fa-sharp fa-solid fa-server"></i>
            <a href="/reseaux">Réseaux</a>
          </li>
          <li>
            <i class="fas fa-question-circle"></i>
            <a href="/challenges">A propos</a>
          </li>
          <li>
            <i class="fas fa-sliders-h"></i>
            <a href="https://hackcess.org/html/services.html" target="_blank">Services</a>
          </li>
          <li>
            <i class="fas fa-phone-volume"></i>
            <a href="/" target="_blank">Contact</a>
          </li>
          <li>
          <i class="far fa-comments"></i>
            <a href="/" target="_blank">Feedback</a>
          </li>
        </ul>
      </div>
      <div class="social_media">
        <ul>
          <a href="https://github.com/cesshack" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://twitter.com/CessHack" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/hack_cess/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCZw-Ikw2HiOY9qLNhRLScZw" target="_blank"><i class="fab fa-youtube"></i></a>
        </ul>
        <br>
        <footer>
            &copy; Hackcess 2023
        </footer>
      </div>
      
    </div>
    <!-- SUITE CODE -->
  
    
         <main>
          <h1 class="h1challenges" style="text-align:center; margin-left: auto;margin-right: auto;top:50%;color:#FFFF;">Bienvenue sur erreur 502</h1>
         <section class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="lista">
                <ol>
                    <li>
                       <div class="card card-html">
                           <div class="card-header">
                               <i class="fas fa-flag"></i> CTF
                           </div>
                           <div class="card-body">
                              Dans l'association, nous avons comme projets d'organiser plusieurs évènements tels que des <strong>CTF</strong> <code>(CAPTURE THE FLAG)</code>,  dans lesquels tous niveaux seront acceptés et bien d'autres défis encore.
                           </div>
                           <div class="card-footer">
                           <div class="clearfix">
                               <div class="float-left">
                                   <div class="progress">
                                       <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                   </div>
                               </div>
                               <div class="float-right">
                                   <a href="https://hackcess.org"target="_blank"><button class="btn btn-success">En savoir plus</button></a>
                               </div>
                           </div>
                           </div>
                       </div>
                    </li>
                    <li>
                        <div class="card card-css">
                            <div class="card-header">
                                <i class="fa fa-wifi"></i>  LAN E-SPORT
                            </div>
                            <div class="card-body">
                                Dans un second temps, nous organiserons des <strong>LAN Esport,</strong> ce qui nous permettra de toucher un public plus large. Celles-ci se dérouleront sur plusieurs jeux comme par exemple :
                 <code>Minecraft, League Of Legends, FIFA</code>, et bien d'autres.
                 Ces évènements seront gratuits (pour voir s'il y a assez de personnes intéressées par ce genre d'évènements) puis pourront être 
                 payantes mais avec l'opportunité de repartir avec des lots qui seront préalablement communiqués.
                            </div>
                            <div class="card-footer">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="float-right">
                                         <a href="https://hackcess.org"target="_blank"><button class="btn btn-success">En savoir plus</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card card-js">
                            <div class="card-header">
                                <i class="fa fa-desktop"></i>  AIDE INFORMATIQUE & ORGANISATION DE CONFERENCES
                            </div>
                            <div class="card-body">
                                Par ailleurs, nous avons mis en place un serveur <a href="https://discord.io/hackcess"><strong>discord,</a>et un <a href="https://www.instagram.com/hack_cess/">instagram</strong></a> à la base essentiellement 
				pour le campus de Roanne mais pas que, afin de proposer une aide informatique 
                  à quiconque en aurait besoin Il suffit de nous contacter sur ces plateformes. Cela passe par de l'aide pour dépanner un ordinateur à distance ou encore de l'aide dans certaines matières comme la programmation, le réseau, les mathématiques par exemple.<br> 
                  Vous pouvez également nous poser des questions sur les sujets de la cybersécurité, informatique, réseaux etc, nous nous ferons un plaisir de vous répondre.<br>
                  Nous ne sommes certes pas experts, mais parfois il suffit d'un bon tuyau pour que tout rentre dans l'ordre, et ce, gratuitement !
                            </div>
                            <div class="card-footer">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="float-right">
                                        <a href="https://hackcess.org"target="_blank"><button class="btn btn-success">En savoir plus</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card card-bootstrap">
                            <div class="card-header">
                                <i class="fas fa-shopping-cart"></i> NOTRE E-SHOP
                            </div>
                            <div class="card-body">
                                Pour financer les différents projets que nous avons envie de mettre en place tout au long de l'année nous lançons nos tapis de souris, ils sont disponibles à l'achat sur notre site internet :
                                <a href="https://store.hackcess.org" target="_blank">https://store.hackcess.org</a> <br>

                                Nous remercions chaque personne qui en prendront (merci de soutenir hackcess ).
                            </div>
                            <div class="card-footer">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="float-right">
                                        <a href="https://hackcess.org"target="_blank"><button class="btn btn-success">En savoir plus</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
               
                    
                </ol>
                </div>
            </div>
        </div>
    </div>
</section>



         
         </main>
  </div>





 


 


	
</body>
</html>
     
