{% extends 'base.html.twig' %}

		{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/ctf.css') }}">
	

		{% endblock %}
		
		{% block title %}   Bienvenue [Erreur502 : En Apprendre mieux sur l'informatique] {% endblock %}
		
{% block body %}


<div class="container">
<br/>

  <h1><div Align=center style="padding:3px; border:5px double #3400f6; background-color:#ab30e0;"><span style="text-decoration: underline;"><i>Un CTF c'est quoi ?</i></span></div></h1>   
  
  <div style="  padding-top:5px; padding-bottom:5px;border: 8px solid #FFFFFF; ">

<p> <font size="6">  <h1>Les CTF <i>(capture the flag) </i></h1></font>
<font size="4">
Il s’agit d’un mode de jeu en cybersécurité.<br></br>

Dans le domaine de la sécurité informatique, les CTF sont des jeux consistant à exploiter des vulnérabilités affectant des logiciels, des sites internet de manière à s'introduire sur des ordinateurs pour récupérer les drapeaux, preuves de l'intrusion.
<br></br>
Grâce à ces CTF vous allez voir que toutes vos informations ne sont pas si secrètes que vous le pensez et que vous devez toujours faire attention sur internet…
</font>
<br><br/>
<h2><span style="text-decoration: underline;" href=color><i>Clique sur le formulaire, pour pouvoir valider vos réponses. :</i></span></h2>
	<Div Align=center>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeo6g5htluKYcoC9nFYCrd0Qj1BK9zvqIyvZrPadXjY6RKesw/viewform?usp=sf_link" title="clique ici !">
	<img alt="texte alternatif pour le lien image" src="https://cdn2.clc2l.fr/t/g/o/google-forms-FlBdo4.png" width="120" height="75"/>
	</Div>
</font> </p></p></Div>

<br/>


<Div Align=center> <img src= "https://media4.giphy.com/media/3oz8xA9gtnyVDPZJHW/giphy.gif?cid=ecf05e475ixeg7ni0ozjiab2gk8cldabdw6g27sqq7gv10tz&rid=giphy.gif&ct=g"  width="50%" title=" elle est belle mon image " /> </Div>

<Div Align=right>
<a href="#"  class=" btn btn-primary" style="text-shadow:2px 2px 4px #000000;"> Retour en haut ↑</a></div>
<br>
<section class="jumbotron" style="background-image: url(https://iut-roanne.univ-st-etienne.fr/skins/iutroanne/resources//img/logo.png); background-size: 30% 120%; ">

<br/>




<br/>










{% endblock %}
	

        
		





