<!DOCTYPE HTMl>
<html class="no-js" lang="fr" xml:lang="fer">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <link rel="stylesheet" href="css/index.css" type="text/css">
     <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
     <title>{% block title %}Bienvenue [ERREUR 502]{% endblock %}</title>
    <meta name="description" content="Erreur 502 est un site web permettant à chacun de tester et d'améliorer ses connaissances dans le domaine de l'informatique ."
    <meta name="keywords" content="hackcess,roanne,rt,iut rt roanne,reseau,info,formation info, hacking, challenge, solution, exercice, hacking challenge, hack challenge, exercice hack, exercice hacking, capture the flag, CTF, security, sécurité, Documentation,Applicatif,Cryptologie,Challenges,Réseaux,Cracking,Web - Client,Programmation,Cryptanalyse,Communauté,Chat Box,Application,Présentation,Session,Transport ,Réseau,Liaison,Physique,Stéganographie,Web - Serveur,Cracking,Réaliste,Informations,L'association,Faiblesses Découvertes,Forum,Le projet,Challenges, Hacking et Sécurité Informatique,Général,Contribuer,IRC,Serveur Discord,Réseau,Capture The Flag,App - Script,Calendrier,CTF all the day,Capture The Flag,Sponsors &amp; Partenaires,App - Système,Forensic,Web,Discuter,">
    <meta name="color-scheme" content="light dark">
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-SRYSKX09J7', { 'anonymize_ip': true });
     </script>
     <link rel="icon" type="img/icon.png" href="img/icon.png" sizes="32x32">
</head>
<body>
  <div class="overlay"></div>
  <div class="scanline"></div>
  <div class="wrapper">
    <div class="content clearfix">
  
      <header class="site clearfix">
        <div class="col one">
          <a href="https://hackcess.org"><img src="img/hackcess.jpg" alt="Hackcess" width="740" height="729" id="logo-v" /></a>
        </div>
        <div class="col two">
          <h4>ERREUR 502 Bad Gateway (HTTP) <br /> <b>N</b>ouveau <b>C</b>hallenge <b>P</b>ar <b>H</b>ackcess</h4>
          <p>----------------------------------------</p>
          <p>ERREUR 502 v 1.0.0</p>
          <p>(c)2023 HACKCESS / BDE RT</p>
          <p>- ERREUR 502 NOT FOUND -</p>
          <p>- BIENVENUE SUR ERREUR502.HACKCESS.ORG -</p>
        </div>
      </header>
  
      <nav class="site clear">
        <ul>
          <li><a href="https://hackcess.org" title="Hackcess" target="_blank">Voir le site</a></li>
          <li><a href="/intro" title="Challenges">Les Challenges</a></li>
          <li><a href="https://www.univ-st-etienne.fr/fr/formation/b-u-t-BU/b-u-t-BU/b-u-t-reseaux-et-telecommunications-rt-2_13_03_0004_FR.html"  target="_blank" title="IUTRT">IUT RT Roanne</a></li>
          <li><a target="_blank" title="E-Shop" href="https://store.hackcess.org" title="E-Shop">E-Shop</a></li>
        </ul>
      </nav>
  
      <p>Système de messagerie intégré de l'administrateur système (SAIMS)</p>
      <p>Administrateur système (SYSADM) - Hackcess</p>
  
      <p class="clear"><br /></p>
  
      <p> Un petit retour sur les challenges les améliorations que nous pourrions faire : </p><br />
  
      <form   action="https://formspree.io/f/mvongorp" method="POST">
        <label>Nom >></label><input type="text" name="nom" required="required" /><br />
        <label>E-mail >></label><input type="email" name="email"required="required" /><br />
        <label>Sujet >></label><input type="text" name="Sujet" required="required" /><br />
        <label>Message >></label><textarea name="message" required="required" id="text" rows="1"></textarea><br /><br /><br />
        <input type="submit" value="Nous faire parvenir" />
        <a class="button" alt="RETOUR INDEX" href="/">Annuler</a>
      </form>
    </div>
  </div>
  
<footer>
  &copy; Copyright 2023 by Hackcess / BDE RT. All rights reserved.
</footer>




</body>
</html>
     