<!DOCTYPE HTMl>
<html class="no-js" lang="fr" xml:lang="fer">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <link rel="stylesheet" href="css/index.css" type="text/css">
     <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
     <title>{% block title %}Bienvenue [ERREUR 502]{% endblock %}</title>
    <meta name="description" content="Erreur 502 est un site web permettant à chacun de tester et d'améliorer ses connaissances dans le domaine de l'informatique ."
    <meta name="keywords" content="hackcess,roanne,rt,iut rt roanne,reseau,info,formation info, hacking, challenge, solution, exercice, hacking challenge, hack challenge, exercice hack, exercice hacking, capture the flag, CTF, security, sécurité, Documentation,Applicatif,Cryptologie,Challenges,Réseaux,Cracking,Web - Client,Programmation,Cryptanalyse,Communauté,Chat Box,Application,Présentation,Session,Transport ,Réseau,Liaison,Physique,Stéganographie,Web - Serveur,Cracking,Réaliste,Informations,L'association,Faiblesses Découvertes,Forum,Le projet,Challenges, Hacking et Sécurité Informatique,Général,Contribuer,IRC,Serveur Discord,Réseau,Capture The Flag,App - Script,Calendrier,CTF all the day,Capture The Flag,Sponsors &amp; Partenaires,App - Système,Forensic,Web,Discuter,">
    <meta name="color-scheme" content="light dark">
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-SRYSKX09J7', { 'anonymize_ip': true });
     </script>
     <link rel="icon" type="img/icon.png" href="img/icon.png" sizes="32x32">
</head>
<body class="antialised hide-extras">
     

<audio autoplay loop>
  <source src="https://dl-web.dropbox.com/get/Public/Call%20of%20Duty%20Black%20Ops%202%20-%20Express%20Theme.mp3?_subject_uid=13406744&duc_id=dropbox_duc_id&w=AACds9Gc67jRLs0SWsEy6ero1eVj40ZwmTxutqNoOR0PDw" type="audio/mpeg">
</audio>

<div id="welcome-login">
  <h1>Welcome to HACKSYS the hacking game!</h1>
  <input id="login-input" type="text" placeholder="Hacker nickname">
</div>
  
<div id="terminal">
    <div>Loading...<span id="blinking">_</span></div>
</div>

<div id="root">></div>
<input id="input" type="text" placeholder="Enter your command here..." autofocus>

<div id="time">Trace time: 0:00</div>

<ol id="objectives">
  Welcome to HACKSYS the hacking game.<br><br>
  <div id="won">Congratulations! You are going to receive all the important conversations from this phone relay.</div>
  <div id="lost">You got tracked down. You better run while you can... Computer autodistruction process will clean up the rest...</div><br>
  Objectives:
  <li id="help">Type 'help' in the console, at the bottom of the screen.</li>
  <li id="list">Check the list of the currently available applications.</li>
  <li id="connect">Connect to the nearest phone relay (connect nearest.phone.relay).</li>
  <li id="trojan">Send a trojan to the phone relay you just connected to (send trojan).</li>
  <li id="disconnect">Disconnect from the phone relay before you are traced down.</li>
</ol>

<script src="js/index.js"></script>

<footer>
  &copy; Copyright 2023 by Hackcess / BDE RT. All rights reserved.
</footer>




</body>
</html>
     