<!DOCTYPE HTMl>
<html class="no-js" lang="fr" xml:lang="fer">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <link rel="stylesheet" href="css/index.css" type="text/css">
     <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
     <title>{% block title %} [ERREUR 502]{% endblock %}</title>
    <meta name="description" content="Erreur 502 est un site web permettant à chacun de tester et d'améliorer ses connaissances dans le domaine de l'informatique ."
    <meta name="keywords" content="hackcess,roanne,rt,iut rt roanne,reseau,info,formation info, hacking, challenge, solution, exercice, hacking challenge, hack challenge, exercice hack, exercice hacking, capture the flag, CTF, security, sécurité, Documentation,Applicatif,Cryptologie,Challenges,Réseaux,Cracking,Web - Client,Programmation,Cryptanalyse,Communauté,Chat Box,Application,Présentation,Session,Transport ,Réseau,Liaison,Physique,Stéganographie,Web - Serveur,Cracking,Réaliste,Informations,L'association,Faiblesses Découvertes,Forum,Le projet,Challenges, Hacking et Sécurité Informatique,Général,Contribuer,IRC,Serveur Discord,Réseau,Capture The Flag,App - Script,Calendrier,CTF all the day,Capture The Flag,Sponsors &amp; Partenaires,App - Système,Forensic,Web,Discuter,">
    <meta name="color-scheme" content="light dark">
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-SRYSKX09J7', { 'anonymize_ip': true });
     </script>
     <link rel="icon" type="img/icon.png" href="img/icon.png" sizes="32x32">
</head>
<body>
  <div class="overlay"></div>
  <div class="scanline"></div>
  <div class="wrapper">
    <div class="content clearfix">
  <div class="container">
<br/>

  <h1><div align=center style="padding:3px; border:5px double #3400f6; background-color:black;">Un CTF c'est quoi ?</div></h1>   
  
  <div style="  padding-top:5px; padding-bottom:5px;border: 8px solid #FFFFFF; ">

<p> <font size="32px">  <h1>Les CTF <i>(capture the flag) </i></h1></font>
<br>
<font size="72">
Il s’agit d’un mode de jeu en cybersécurité.<br></br>

Dans le domaine de la sécurité informatique, les CTF sont des jeux consistant à exploiter des vulnérabilités affectant des logiciels, des sites internet de manière à s'introduire sur des ordinateurs pour récupérer les drapeaux, preuves de l'intrusion.
<br></br>
Grâce à ces CTF vous allez voir que toutes vos informations , votre vie privée , vos données ne sont pas si secrètes que vous le pensez et que vous devez toujours faire attention sur internet .

Quand vous etes pret pour commencé cliqué sur le bouton start .
</font>
<br><br/>
<h2><i>Clique sur le formulaire, pour pouvoir valider vos réponses. :</i></h2>
	<Div Align=center>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeo6g5htluKYcoC9nFYCrd0Qj1BK9zvqIyvZrPadXjY6RKesw/viewform?usp=sf_link" title="clique ici !">
	<img alt="texte alternatif pour le lien image" src="https://cdn2.clc2l.fr/t/g/o/google-forms-FlBdo4.png" width="120" height="75"/>
	</Div>
</font> </p></p></Div>

<br/>
</a>

<a href="/challenges"><div align=center> <img src= "img/boutonstart.png"  width="50%" title=" elle est belle mon image " /> </div></a>

<div align=right>
<a href="#"  class=" btn btn-primary" style="text-shadow:2px 2px 4px #000000;"> Retour en haut ↑</a></div>
<div align=left>
<a href="/"  class=" btn btn-primary" style="text-shadow:2px 2px 4px #000000;"> Retour vers la page d'accueil ⬅ </a></div>

<br>




<br/>
     
  
<footer>
  &copy; Copyright 2023 by Hackcess / BDE RT. All rights reserved.
  
</footer>




</body>
</html>
     