{% extends 'base.html.twig' %}
{% block title %} Exercice n°10 {% endblock %}
{% block stylesheets %}
		
{% endblock %}

{% block body %}
<div class="container">
<br></br>
<h1><div Align=center style="padding:3px; border:5px double #3400f6; background-color:#ab30e0;"><span style="text-decoration: underline;"><i>Dixième exercice !</i></span></div></h1>   
  

<br/>
<Div Align=center> <img src= "http://www.mon-club-elec.fr/mes_images/reference_francais/asciifull.gif"  width="80%" title="casse tête " 
 /> </Div>
<br/>
<p> <font size="6">  <h1><span style="text-decoration: underline;"><i>Code ASCII ! </span><i></h1>

Avec cette table ASCII retrouvé ce qui se cache dans ce code: 066 105 101 110 118 101 110 117 101 032 224 032 108 039 073 085 084 032 100 101 032 082 111 097 110 110 101 32 033 033 </p></p>


<br/>
<div class="form-group">
Mettez votre réponse dans le Google Form.


<br/>

<Div Align=right>
<a href="#"  class=" btn btn-primary" style="text-shadow:2px 2px 4px #000000;"> Retour en haut ↑</a></div>
<div/>
<br/>

{% endblock %}