<!DOCTYPE html>
<html class="no-js" lang="fr" xml:lang="fer">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  
     <link rel="stylesheet" href="css/programmation.css" type="text/css">
     <link rel="stylesheet" href="css/bulma.min.css" type="text/css">
     <link rel="stylesheet" href="css/footer.css" type="text/css">
    
  

     <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
          


     <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
     <title>{% block title %} [ERREUR 502]{% endblock %}</title>
    <meta name="description" content="Erreur 502 est un site web permettant à chacun de tester et d'améliorer ses connaissances dans le domaine de l'informatique."
    <meta name="keywords" content="hackcess,roanne,rt,iut rt roanne,reseau,info,formation info, hacking, challenge, solution, exercice, hacking challenge, hack challenge, exercice hack, exercice hacking, capture the flag, CTF, security, sécurité, Documentation,Applicatif,Cryptologie,Challenges,Réseaux,Cracking,Web - Client,Programmation,Cryptanalyse,Communauté,Chat Box,Application,Présentation,Session,Transport ,Réseau,Liaison,Physique,Stéganographie,Web - Serveur,Cracking,Réaliste,Informations,L'association,Faiblesses Découvertes,Forum,Le projet,Challenges, Hacking et Sécurité Informatique,Général,Contribuer,IRC,Serveur Discord,Réseau,Capture The Flag,App - Script,Calendrier,CTF all the day,Capture The Flag,Sponsors &amp; Partenaires,App - Système,Forensic,Web,Discuter,">
    <meta name="color-scheme" content="light dark">
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-SRYSKX09J7', { 'anonymize_ip': true });
     </script>
     <link rel="icon" type="img/icon.png" href="img/icon.png" sizes="32x32">
</head>
<body>

<style>
html{
  background:rgb(22,0,22);
}
</style>


<!--- NAVBAR -->
     <div class="main_box">

    <input type="checkbox" id="check">
    <div class="btn_one">
      <label for="check">
        <i class="fas fa-bars"></i>
      </label>
    </div>
    
  

    <div class="sidebar_menu" style="  background: rgba(255, 22, 255, 0.800);  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.219);">
      <div class="logo">
        <a href="#">ERREUR 502</a>
          </div>
        <div class="btn_two">
          <label for="check">
            <i class="fas fa-times"></i>
          </label>
        </div>
      <div class="menu">
        <ul>
          <li><i class="fas fa-qrcode"></i>
            <a href="/challenges" >Accueil</a>
          </li>
          <li>
          <i class="fas fa-code"></i>
            <a href="/programmation">Programmation</a>
          </li>
          <li>
            <i class='fas fa-magnifying-glass'></i>
            <a href="/stegano">Stéganographie</a>
          </li>
          <li>
           <i class="fa-sharp fa-solid fa-server"></i>
            <a href="/reseaux">Réseaux</a>
          </li>
          <li>
            <i class="fas fa-question-circle"></i>
            <a href="/challenges">A propos</a>
          </li>
          <li>
            <i class="fas fa-sliders-h"></i>
            <a href="https://hackcess.org/html/services.html" target="_blank">Services</a>
          </li>
          <li>
            <i class="fas fa-phone-volume"></i>
            <a href="/" target="_blank">Contact</a>
          </li>
          <li>
          <i class="far fa-comments"></i>
            <a href="/" target="_blank">Feedback</a>
          </li>
        </ul>
      </div>
      <div class="social_media">
        <ul>
          <a href="https://github.com/cesshack" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://twitter.com/CessHack" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/hack_cess/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCZw-Ikw2HiOY9qLNhRLScZw" target="_blank"><i class="fab fa-youtube"></i></a>
        </ul>
        <br>
        <footer>
            &copy; Hackcess 2023
        </footer>
      </div>
      
    </div>
    <br>
    <center><div class="column is-9 content " style="background-color:black;">
    
        
        
            <div class="message is-info" style="background-color:black;color:white;">
                <div class="message-body content" style="background-color:black;color:white;border-color:white;font-size:24px;" >
                Problème réseau
                </div>
            </div></center>
        
        
        
    <p style="color:whitesmoke;text-align:center;">Le technicien réseau a un problème : certains PCs n'arrivent pas à communiquer entre eux.<br>
    Il a pourtant vérifier et le routage est fonctionnel, l'intervlan est juste, le paramétrage des ports des switchs/routeurs également, cela doit être une erreur toute bête. <br>
    Votre mission est d'identifier le problème au sein de ce réseau. </p>
    <p style="color:whitesmoke;text-align:center;">-------------</p>
    <br>

    <div Align=center> <img src= "img/réseau.png"  width="50%" title="réseau" /> </div>


 

    <br>

        <center><div class="message is-info" style="width:30rem;">
    <div class="message-header " style="background-color:black;border-color:white;">Validation</div>
    <div class="message-body" style="background-color:whitesmoke;">
      <form method="" class="" action="">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Entrez votre réponse ici" name="ans" id="ans3">
          </div>
          <p class="help"><a href="#">Comment entrer les réponses ?</a></p>
        </div>
        <div class="control">
          <button class="button is-success">Soumettre</button>
        </div></center>
        <br>
      </form>
    </div>
      <br>
<script src="js/r.js"></script>

  </div>


    
    </div>
    <!-- SUITE CODE -->





  </div>
 <!--FOOTER -->
   <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6" style:"margin-right:75px;">
            <h6>À propos de Erreur 502</h6>
            <p class="text-justify">Erreur502.hackcess.org <i>est une plateforme de e-learning sur la cybersécurité </i> c'est une initiative dévelloper par hackcess pour aider les futurs personnes qui veulent découvrir l'informatique de manieres ludiques elle sucédent à  <a href="https://aladecouverteducyber.hackcess.org/"target="_blank"><code style="background-color:black;color:white;">aladecouverteducyber.hackcess.org</code></a>. Erreur502 se concentre sur la fourniture de challenges dans trois pilliés différents : 
            Réseaux , Programmation et Stéganographie. Pour plus de renseignements vous pouvez consulter <a href="https://hackcess.org"target="_blank">hackcess.org</a> . </p>
          </div>

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
         <a href="https://hackcess.org"target="_blank">Hackcess</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="youtube" href="https://www.youtube.com/channel/UCZw-Ikw2HiOY9qLNhRLScZw"target="_blank"><i class="fab fa-youtube"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/CessHack"><i class="fab fa-twitter"target="_blank"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/hack_cess/"target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/company/hackcess"><i class="fab fa-linkedin"target="_blank"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>







 

  
 


	
</body>
</html>
     
